html{
box-sizing: border-box;
}
*,::before,
*:after{
    box-sizing: inherit;
}
.poster{
    width: 1264px;
    height: 940px;
    padding-top: 53px;
    background-color: #EDF2C5;
    margin-left: auto;
    margin-right: auto;

}
.Vegetables{
    height: 42px;
    width: 271px;
    font-family: Arial Black;
    color: #778A50;
    font-size: 44px;
    line-height: 44px;
}
.header{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;

}
.topright{
    display: flex;
    margin-top: 17px;
   
}
.loginbox{
    height: 25px;
    width: 60px;
    margin-right: 10px;
    border: 1px solid #778A50;
    border-radius: 3px;

}
.login{
    font-family: Arial;
    font-weight: Bold;
    font-size: 14px;
    color: #778A50;
    text-align: center;
    margin-top: 5px;
}
.joinbox{
    height: 25px;
    width: 50px;
    border: 1px solid #778A50;
    border-radius: 3px;
}
.join{
    font-family: Arial;
    font-weight: Bold;
    font-size: 14px;
    color: #778A50;
    text-align: center;
    margin-top: 5px;
}
.logo{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    
}
.line1{
    height: 25px;
    border-right: 1px solid #778A50;
    margin-right: 10px;
}
.list{
    margin-left: 160px;
    margin-right: 160px;
}
.nav{
    margin-top: 8px;
}
.nav-list{
display: flex;
padding: 0px;
background-color: #778A50;
height: 44px;
width: 940px;
}

.nav-list-item{
    margin: 16px 30px;
    font-family: arial Black;
    line-height: 16px;
    display: block;
}
.link{
    list-style: none;
    text-decoration: none;
    color : #EDF2C5;
}
.pumking{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 160px;
    width: 940px;
    height: 448px;
}
.mainbar{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 35px;
}
.leftbar{
    width: 445px;
    height: 200px;
}
.vegetablesmall{
    width: 445px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    line-height: 16px;
    box-sizing: border-box;
    background-color: #778A50;
    font-family: Arial Black;
    font-size: 16px;
    color: #EDF2C5;
}
.image{
    display: flex;
    margin-top: 15px;
    margin-bottom: 35px;
}
.img{
margin-right: 12px;
height: 140px;
width: 140px;
}

.rightbar{
    width: 445px;
    height: 200px;
}

.para{
    margin-top: 15px;
    height: 140px;
    width: 445px;
    background-color: #F7FBDA;
}

.p1{
    font-family: Arial;
    font-size: 12px;
    line-height: 1.33;
    color: #7d7d7d;
    padding: 16px 16px 0px 15px;
    margin-bottom: 15px;
}
.line2{
    width: 414px;
    border-bottom: solid #7d7d7d 1px;
    margin-left: 15px;
}
.p2{
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    color: #7d7d7d;
    line-height: 1.83;
    padding-top: 16px;
    margin-left: 15px;
    margin-bottom: 16px;
}

.footer{
    background-color: #778A50;
    width: 1264px;
    height: 60px;
}

.end{
    padding-top: 24px;
    padding-bottom: 25px;
    text-align: center;
    font-family: arial;
    font-size: 12px;
    color: #EDF2c5;

}

body{
    margin： 0px;
}
